<a href="https://colab.research.google.com/github/Cogitus/Self-Organized-Maps-first-steps/blob/master/first_commit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#06-02-2019 - Sunday
#first SOM implementation focusing fraud detection (classificate the kind of people that are more inclined to fraud information)

#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
#importing the dataset right here (customers information)

#we are not exporting from github, but from a local machine, so we need to make a few little steps first.
from google.colab import files
import io

uploaded_archive = files.upload()

Saving Credit_Card_Applications.csv to Credit_Card_Applications (1).csv

In [0]:
#finally exporting the dataset to enable us starting to work
dataset = pd.read_csv(io.BytesIO(uploaded_archive['Credit_Card_Applications.csv']))

In [11]:
#a little exemple of how the dataset is organized
dataset.head()

   CustomerID  A1     A2     A3  A4  A5  ...  A10  A11  A12  A13   A14  Class
0    15776156   1  22.08  11.46   2   4  ...    0    1    2  100  1213      0
1    15739548   0  22.67   7.00   2   8  ...    0    0    2  160     1      0
2    15662854   0  29.58   1.75   1   4  ...    0    1    2  280     1      0
3    15687688   0  21.67  11.50   1   5  ...   11    1    2    0     1      1
4    15715750   1  20.17   8.17   2   6  ...   14    0    2   60   159      1

[5 rows x 16 columns]